.modal {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: table;

  &__wrapper {
    display: table-cell;
    vertical-align: middle;

    &__container {
      width: 80%;
      height: 90%;
      overflow-y: auto;
      margin: 0 auto;
      padding: 20px 30px;
      background-color: #252525;
      border-radius: $radius;
      position: relative;

      &__close {
        position: absolute;
        top: 0;
        right: 0;
        width: 24px;
        height: 24px;
        background-color: map-get($colors, gray);
        padding: map-get($margins, m2);
        cursor: pointer;
        transition: background-color 0.3s ease-in-out;

        &:hover {
          background-color: map-get($colors, transGray);
        }
      }
    }
  }
}
