.cnt-search {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &--result {
    height: auto;
    align-items: flex-start;
    padding: map-get($margins, m5) 0;
  }

  &__background {
    background-image: url('~@/assets/img/back1.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    &--result {
      background-image: none;
    }
  }

  &__pos {
    position: relative;
    width: 350px;
    height: 40px;
    z-index: 1;
  }

  &__loader {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    margin-right: map-get($margins, m2);
  }

  &__input {
    border: 0;
    background-color: map-get($colors, shadow);
    width: 100%;
    height: 100%;
    color: map-get($colors, white);
    font-size: map-get($fontSizes, medium);
    padding-left: map-get($margins, m2);
    border-radius: 30px;
    box-sizing: border-box;

    &::placeholder {
      color: map-get($colors, gray);
      opacity: 1;
    }

    &:focus {
      outline: none;
    }
  }
}

@media (max-width: 768px) {
  .cnt-search {
    align-items: flex-start;
    padding-top: map-get($margins, m6);
  }
}
