.loader {
  border: solid map-get($colors, white);
  border-radius: 50%;
  border-top: solid map-get($colors, gray);
  width: 120px;
  height: 120px;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
